<div class = "container">
	<img *ngIf="user.avatar_url !== null"
	 	alt="avatar"
		[src]="user.avatar_url"
		class="container__avatar"/>
	<table class="container__table">
		<tr>
				<th class="container__tableCell">
					Login
				</th>
				<td class="container__tableCell">
					{{user.login}}
				</td>
		</tr>
		<tr>
				<th class="container__tableCell">
					Type
				</th>
				<td class="container__tableCell">
					{{user.type}}
				</td>
		</tr>
		<tr *ngIf="user.company !== null">
				<th class="container__tableCell">
					Entreprise
				</th>
				<td class="container__tableCell">
					{{user.company}}
				</td>
		</tr>
		<tr *ngIf="user.bio !== null">
				<th class="container__tableCell">
					Bio
				</th>
				<td class="container__tableCell">
					{{user.bio}}
				</td>
		</tr>
	</table>
</div>
