.container{
  max-width: 500px;
  min-height: 150px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 3px solid grey;
  border-radius: 10px;
}

.button{
  margin: 20px;
  width: 200px;
}
